
html{
    font-size: 100%;
}

body{
    font-size: 0.9rem;
}
#header{
    display: flex;
    /* 縦軸を真ん中に揃える */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* positionプロパティーで画面の上部にヘッダーを固定 */
    position: fixed;
    top: 0;
}

#header ul{
    display: flex;
    /* liタグの点を消す */
    list-style: none;
}

#header-logo{
    /* ヘッダーのサイズ調整 */
    width: 200px;
}

a{
    text-decoration: none;
    list-style: none;
}

.nav-li{
    padding: 80px 130px;
}

#li-en{
    background-color: #F5F5F5;
}

#li-support{
   background-color: #1D1C1C;
}

#mv{
    position: absolute;
    right: 0;
    bottom: 0;
}

.circle {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }

.circle-padding {
    padding: 30px 0 0 0 ;
  }